
<div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please register</h1>
    <input type="email" [(ngModel)]="email" placeholder="email" class="form-control">
    <input type="password" [(ngModel)]="password1" placeholder="password" class="form-control">
    <input type="password" [(ngModel)]="password2" placeholder="confirm password" class="form-control">

    <button (click)="signup()" [disabled]="!email || !password1 || !password2" class="btn btn-lg btn-success btn-block">
    Login
    </button>
    <div *ngIf="message !== ''" class="alert alert-warning alert-dismissible fade show" 
        role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
