<!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4">{{ event?.name }}</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">Description</h2>
          <p>{{ event?.description }}</p>
          <p>
            <button [ngClass]="expired" [disabled]="disabled" (click)="join()">join the event</button>
          </p>
          <p *ngIf="event?.user._id == userId">
            <a class="btn btn-warning btn-lg" href="#">edit event</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>{{ event?.user.name }}</strong>
            <br>3481 Melrose Place
            <br>Beverly Hills, CA 90210
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            (123) 456-7890
            <br>
            <abbr title="Email">E:</abbr>
            <a href="#">name@example.com</a>
          </address>
        </div>
      </div>