<main role="main" class="container">
      <div class="jumbotron text-center">
        <h1>Events App</h1>
      </div>
      <div *ngFor="let event of events$ | async">
          <p> {{event.name}}</p>
      </div>
      <div>
          <input type="text" name="name" placeholder="name of event">
          <input type="hidden" name="creator" >
          <input type="date" name="date">
          <input type="text" name="location" placeholder="where?">
          <button>submit</button>
      </div>
</main>
